@{
    Layout = "_AuthLayout";
}
<div class="text-center">
    <div class="mb-5">
        <img class="access-denied-img" src="~/img/Access Denied.png"/>
    </div>
    <div class="mt-5">
        <h3>Access Denied</h3>
    </div>
    <div class="mt-3">
        <p>You don't have permission to access requested page</p>
    </div>
    <div class="mt-3 snw-button-container">
        <button class="btn btn-primary btn-block snw-submit" style="width: 100px;" onclick="history.back()">Go back</button>
    </div>
</div>
