@font-face {
    font-family: centraleLight;
    src: url('../fonts/Centrale Sans Light.otf');
    font-style: normal;
}
@font-face {
    font-family: centraleBold;
    src: url('../fonts/Centrale Sans Bold.otf');
}
@font-face {
    font-family: centraleXBold;
    src: url('../fonts/CentraleSans-XBold.otf');
}
@font-face {
    font-family: centraleBook;
    src: url('../fonts/CentraleSans-Book.otf');
}
@font-face {
    font-family: centraleMedium;
    src: url('../fonts/Centrale Sans Medium.otf');
}
@font-face {
    font-family: centraleReg;
    src: url('../fonts/Centrale Sans Regular.otf');
}

body {
    font-family: centraleReg!important;
    font-size: 14px;
}


.access-denied-img {
    width: 60%;
    height: auto;
}

h1.header-bold, h2.header-bold, h3.header-bold, h4.header-bold, h5.header-bold, h6.header-bold {
    font-family: centraleBold;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link{
    font-family:centraleBold;
}
.table.dataTable{
    border-bottom: 1px solid rgb(0,0,0,0.25);
}
.text-gray {
    color: #b3c8e6;
}

.fa-med {
    font-size: 1.8em;
}
.li-number {
    margin-bottom: 10px;
}

/* background */
.bg-cream {
    background: #f7f7f7;
}
.img-socmed{
    width:20px;
}
main {
    position: relative;
    font-size: 14px;
}
header, main, nav, footer{
    display: table-header-group;
}
/*.snw-img-header{
    min-width: 1730px;
}*/
/*.collapse.show {
    margin-top: 20px;
}*/
/*slider*/
.carousel-item .img-fluid {
    width: 100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
    display: block;
    width: 100%;
}
#sliderGratisLampu {
    width:100%;
    height: 400px;
    overflow: hidden;
}
    #sliderGratisLampu img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
.f-21 {
    font-size: 21px;
    font-family: centraleBold;
}
.f-55 {
    letter-spacing: -1px;
    font-size: 55px;
    line-height: 66px;
    color: #000;
    font-weight: 800;
    font-family: centraleXBold;
    margin-bottom: 21px;
    margin-left: 80px;
}
#sliderGratisLampu .carousel-inner .carousel-item {
    width: 100%;
    overflow: hidden;
}

.footer-connect-socmed{
    float: left;
}
.footer-select {
    color: #b3c8e6;
    text-decoration:none;
}
.footer-select:hover {
    color: #b3c8e6;
    text-decoration:none;
}
.ul_situs {
    background: #fff;
    display: none;
    margin-top: 10px;
    padding: 14px 20px 14px 20px;
    width: 180px;
    position: absolute;
    right: 50px;
    text-align: left;
}
.ul_situs a{
    color:#000;
}
.header-custom {
    top: 150px;
    position: absolute;
}

video.header-custom {
    /*margin-top: 50px;*/
    height: 400px;
}

.carousel-control-btn {
    width: 40px; height: 40px;
    padding-top: 10px;
}

/* border */
#header-full {
    /* background: url('../img/KV-digital-1920x1080.jpg');
    background-size: contain;
    height: 600px;*/
    margin-top:56px;
} 

#header-mini {
    
    background: url('../img/header.jpg');
    background-size: cover;
    height: 500px;
}

.header nav {
    width: 100%;
}

.navbar.bg-philips {
    height: 48px;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.nav-link {
    font-size: 13px;
}

.navbar {
    padding: 0.5rem 1rem;
}

.bg-philips {
    background: #1474a4;
}

.bg-philips-dark {
    background-color: #1474A4;
    height: 48px;
}

.brand-shape {
    /*position: absolute;
    top: 0;
    width: 25%;*/
    position: absolute;
    color: #fff;
    width: 98px;
    height: 54px;
    background: linear-gradient(to right,#1C2D66 0,#1474A4 100%);
    filter: drop-shadow(0 1px 1px rgba(0,0,0,0.5));
    overflow: hidden;
    top: 0;
    z-index: 100;
    transition: height 400ms ease;
}

.brand-shape:hover {
    height: 72px;
}

.brand-text {
    position: relative;
    top: -30px;
    transition: top 400ms ease;
    z-index: -1;
}

.brand-shape:hover > .brand-text {
    top: 0;
}

.navbar-brand.brand-placeholder {
    width: 100px;
}

.brand-philips-logo {
    width: 98px;
    height: 47px;
    background: #fff;
    border-bottom-right-radius: 15px;
    filter: drop-shadow(0 1px 1px rgba(0,0,0,0.5));
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.brand-philips-logo img {
    /*box-shadow: 1px 1px 2px #333;*/
    width: 85px;
    height: 16px;
}

/*.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)'")
}*/

.navbar-dark .navbar-toggler:hover {
    background: #003655 ;
}

.navbar-dark .navbar-toggler:focus {
    outline: none;
}

#content-key {
    position: absolute;
    /*top: 51px;*/
    width: 100%;
    z-index: 1;
    /*border-bottom: 1px solid #fff;*/
    background: linear-gradient(to bottom, rgba(25,29,79,0.4) 0,rgba(25,29,79,0) 100%);
}

#content-key-underline {
    margin: 0;
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

ul.inline-link { margin: 0; padding: 0 }

ul.inline-link li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    padding-left: 5px;
}

ul.inline-link li a {
    color: #fff;
}

ul.inline-link li a:hover {
    text-decoration: underline;
}

ul.inline-link li:not(:first-child) {
    border-left: 1px solid #ccced8;
}

.sosmed-link a {
    font-size: 20px;
    color: #fff;
}

@media (max-width: 960px) {
    .navbar-nav{
        margin-top:20px;
    }
}

#form-customer button.btn-success {
    background: #1E9D8A;
    padding-left:20px;
    padding-right:20px;
}
#form-customer button.btn-primary {
    background: #7d0063;
    border-color: #7d0063;
    padding-left: 20px;
    padding-right: 20px;
}
#form-customer button.btn-primary-fit {
    background: #7d0063;
    padding: .375rem .75rem;
}
#form-customer button.btn-danger {
    background: #91004B;
    width: 35px;
    height: 35px;
}

#form-customer {
    /*box-shadow: 0 0 2px 0 #999;*/
}
/*@media (min-width: 961px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}*/
/*@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}*/
#form-customer label {
    color: #000;
    font-weight: bold;
    margin-bottom: 0.1rem;
}
#footer-philips {
    color: #fff;
    background-color: #0096ee;
    background-repeat: repeat-x;
    background: linear-gradient(to bottom right,#1C2D66 50%,#1474A4 100%);
}
.tooltip-inner {
    max-width: 200px;
    padding: 5px 20px;
    color: #3c3c3c;
    text-align: center;
    background-color: #fff;
    border: 1px solid #b9bbc7;
    border-radius: 0.15rem;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
}
.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 1px;
    filter: drop-shadow(0 0 30px #333);
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-width: 0.5rem 0.5rem 0;
    border-top-color: #b9bbc7;
}
#footer-philips .d-table-cell {
    width: 33.3%;
}
/*custom select box*/
.custom-control-label:before {
    background-color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: white;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23007bff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23007bff'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: white;
}

.custom-select {
    width: 80% !important;
    background: url(../img/down-arrow.png) no-repeat right 0.5rem center/14px 9px;
}
/*custom select box*/
.warning-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #000;
}

#invoice-img-name, #photo-name { font-size: 80%; }

#form-customer label.custom-control-label, #form-customer label.form-check-label {
    color: #000;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 2px;
}

#form-customer .form-control {
    font-size: 14px;
    height: 35px;
}

.custom-checkbox .invalid-feedback {
    position: absolute;
    left: 0;
}
.page-link {
    border: none;
    color: #6c757d;
    outline: unset;
}
.page-link:hover {
    color: #000;
    outline:unset;
    background-color: #fff;
    border: none;
}
.previous a {
    color: #7d0063;
}
.next a {
    color: #7d0063;
}
.previous.disabled a {
    color: #6c757d;
}
.next.disabled a {
    color: #6c757d;
}
.page-item:first-child .page-link{
    border:none;
}
.page-item.active .page-link {
    color: #7d0063;
    background-color: #fff;
    font-size: 15px;
    font-weight: 800;
}
    .page-item.active .page-link:focus {
        color: #7d0063;
        background-color: #fff;
        font-size: 15px;
        outline: unset;
        font-weight: 800;
    }

.img-contoh-nota{
    width: 100%;
}

@media (max-width: 1096px) {
    #sliderGratisLampu {
        height: 500px;
    }
    .header-custom { top: 100px }

    video.header-custom {
        height: 300px;
    }
}

@media (max-width: 991px) {
    .img-contoh-nota {
        padding-left: 0px;
        padding-top: 20px;
    }
}

@media (max-width: 768px) {
    #header-full {
        margin-top:56px;
    /*     background-size: cover;
        height: 300px; */
    }

    #sliderGratisLampu {
        height: 400px;
    }

    .header-custom { position: unset; top: unset; }

    video.header-custom {
        right: unset;
        width: 60%;
        height: auto;
        margin: 0 auto;
        top: unset;
    }

    .table-responsive *{
        font-size: 0.8rem;
    }

    .brand-philips img {
        height: 80px;
    }

    .display-2 { font-size: 2.5rem }
    .display-4 { font-size: 1.5rem }

    /*p {
    font-size: 0.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }*/

    #form-customer label {
        font-size: 1rem;
    }

    /*#footer-philips .logo {
        position: absolute;
        top:0;
        width:100%;
    }

    #footer-philips .logo img {
        height: 100px;
    }*/
    .btn {
        font-size: 0.8rem;
    }

    .footer-wrapper {
        position: relative;
        padding-top: 100px;
    }
}

@media (max-width: 521px){
    .table-responsive * {
        font-size: 0.7rem;
    }
}
@media (max-width: 420px){
    .table-responsive * {
        font-size: 0.65rem;
    }
}

h4.header-bold {
    /*margin-top: 2rem;*/
    font-size: 34px;
    font-weight: 800;
    font-family: centraleXBold;
}
h4.header-light {
    /*margin-top: 2rem;*/
    font-size: 34px;
    font-weight: 800;
    font-family: centraleBold;
}
@media (max-width: 700px) {
    body, h1, h2, h3, h4, h5, h6, p, a, label {
        font-family: Tahoma !important;
    }
    .header-bold, .header-light{
        font-size: 26px !important;
    }
    .f-21{
        font-size:19px;
    }
    .f-55 {
        margin-left: 0;
        font-size: 34px;
        line-height: 40px;
    }
    #table-p5_length {
        float: left;
    }

    #table-p5_filter {
        float: left;
        margin-left: -16px;
        text-align: left;
    }
    .img-socmed {
        width: 32px;
    }
    .button-step1 {
        width: 100% !important;
        float: none !important;
    }
    .button-step1-back {
        width: 100% !important;
        float: none !important;
    }
    .button-step1-bottom {
        margin-top: 8px;
    }
}
.swal2-styled.swal2-confirm {
    background: #006BA4 0% 0% no-repeat padding-box !important;
}
input[type=text] {
    border-color: #CCCCCC;
}
    input[type=text]:focus {
        border-color: #7D0063;
    }
input[type=email] {
    border-color: #CCCCCC;
}

    input[type=email]:focus {
        border-color: #7D0063;
    }

/* The container */
.containerStep2 {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .containerStep2 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top:4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerStep2:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerStep2 input:checked ~ .checkmark {
    background-color: #7D0063;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerStep2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerStep2 .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

label > input[type="checkbox"] {
    display: none;
}
    label > input[type="checkbox"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        border-radius: 10%;
        border-style: solid;
        border-width: 0.1rem;
        border-color: gray;
    }
    label > input[type="checkbox"]:checked + *::before {
        content: "✓";
        font-size: 10px;
        color: white;
        text-align: center;
        background: #480938;
        border-color: #480938;
    }

    label > input[type="checkbox"]:checked + * {
        color: #480938;
    }

.button-step1 {
    width: auto;
    float: right;
}

.button-step1-back {
    width: auto;
    float: left;
}

.button-step1-back:hover {
    color: #fff !important;
    background-color: #480938 !important;
    border-color: #480938 !important;
}

@media (max-width: 600px) {
    #sliderGratisLampu {
        height: 300px;
    }
}

@media (max-width: 468px) {
    #header-mini { height: 200px; }
     #sliderGratisLampu {
        height: 200px;
    }
}

@media (max-width: 992px) {
    .snw-label-container {
        text-align: left !important;
    }
    .snw-storeselect {
        padding-bottom: 20px !important;
    }
    #snw-terrselect {
        padding-right: 0px !important;
    }
    #snw-cityselect {
        padding-right: 0px !important;
    }
}

@media (min-width: 1200px){

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 960px;
    }
}

#upload-invoice-btn {
    width: 5rem;
    height: 5rem;
    background: #fff;
    line-height: 4rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.input-group-append .btn {
    font-size: 14px;
}

/*parsley js*/
.parsley-errors-list {
  margin: 0;
  padding: 0; 
}
.parsley-errors-list > li {
    list-style: none;
    color: #f34943;
    margin-top: 5px;
    padding-left: 20px;
    position: relative; 
    font-size: 12px;
}
.parsley-errors-list > li:before {
  content: "\f057";
  font: normal normal normal 14px/1 'Font Awesome 5 Free';
  position: absolute;
  left: 2px;
  top: 1px; 
}

/*.parsley-error {
  border-color: #f34943; 
}

.parsley-success {
  border-color: #31ce77; 
}*/

.step {
    display: none;
}

.step.active {
    display: block;
}
.snw-terms{
    line-height:25px;
}
.snw-terms-section h5,.snw-terms-section h6 {
    font-weight: bold;
}
.snw-sublist ol {
    counter-reset: item;
}

.snw-sublist ol > li {
    counter-increment: item;
}

.snw-sublist ol ol > li {
    display: block;
}

.snw-sublist ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -25px;
}

.snw-sublist ol ol {
    list-style-type: lower-alpha;
}

.snw-sublist ol ol > li {
    /*counter-increment: item;*/
}

.snw-sublist ol ol ol > li {
    display: block;
}

.snw-sublist ol ol ol > li:before {
    content: counters(item, ")") ") ";
    margin-left: -25px;
}
.snw-charlabel{
    float:right;
}
.tab-content{
    width:100%;
}
.snw-submit {
    background: #00E487 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    border: none;
    width: 100%;
    display: block;
}

@media (max-width: 475px) {
    #tableWinner_filter {
        text-align: left !important;
        margin-left: -15px;
    }

    #tableWinner_length {
        text-align: left !important;
    }
}